@import 'libs/theme/src/mixins.scss';

.overlay {
    position: fixed;
    top: 6rem;
    left: 0;
    height: calc(100vh - 6rem);
    width: 100vw;
    background-color: var(--overlay-color);
    z-index: var(--z-index-mobile-page-header-overlay);
}

.pageHeaderMobile {
    position: fixed;
    top: 6rem;
    left: 0;
    width: 100vw;
    padding: 0rem 2rem 1.5rem;
    background-color: var(--white);
    box-shadow: var(--shadow-spread-smaller);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: var(--z-index-mobile-page-header);
    transition: height var(--ease-out-quart-slow);
    overflow: hidden;

    // &.active {
    //     z-index: var(--z-index-mobile-page-header)-active;
    // }

    &.collapsed {
        padding-bottom: 1rem;
    }

    &.clickable {
        cursor: pointer;
    }

    h2,
    p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
