.expense-tracker-global {
    // Colors
    --gun-metal: #1b2c37;

    --blue-darkest: #041e4e;
    --blue-darker: #052665;
    --blue-pale: #607192;

    --primary-color: var(--blue-darker);
    --primary-color-dark: var(--blue-darkest);

    --accent-color: var(--blue-pale);

    // --gray-super-light: #f5f8fa;
    // --gray-lightest: #edf0f6;
    // --gray-lighter: #dde2e9;
    --gray-light: #d9dee7;
    --gray: #b3bdd0;
    // --gray-dark: #a3abb7;
    // --gray-darker: #8a8fa1;
    // --gray-darkest: #4d5963;
}
