.navbar {
    width: 100%;
    transition: background-color var(--ease-out-quart-quick);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-index-nav);

    .navbarContent {
        width: 100%;
        padding-top: 3rem;

        align-items: center;

        display: flex;

        .navbarLogo {
            margin-right: 5rem;
            transition: opacity var(--ease-out-quart);

            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }
        }

        .navbarLinks {
            display: flex;

            .navbarLink {
                margin-right: 5rem;

                a {
                    color: var(--primary-color);
                    letter-spacing: 1px;
                    font-size: 1.6rem;
                }

                &.active {
                    font-weight: bold;
                }

                &:hover a {
                    color: var(--accent-color);
                }
            }
        }

        .navbarRight {
            margin-left: auto;
            position: relative;

            .settingsIcon {
                height: 2rem;
                color: var(--primary-color);
                transition: var(--ease-out-quart);
                cursor: pointer;

                &:hover {
                    color: var(--accent-color);
                }
            }

            .navbarSettings {
                position: absolute;
                z-index: 1;
                top: 2.5rem;
                right: 0;
                background-color: var(--white);
                border-radius: 3px;
                box-shadow: var(--shadow-spread-small);
                width: 20rem;
                padding: 1rem;

                display: flex;
                flex-wrap: wrap;
            }
        }
    }

    &.navbarCollapsed {
        background-color: var(--white);
        box-shadow: var(--shadow-navbar);

        .navbarContent {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
}
