@import 'apps/setscore-web/styles/theme.scss';

$nav-height: 6rem;

.mobileNav {
    position: fixed;
    min-height: 6rem;
    width: 100vw;
    // border-bottom: 1px solid $gray-lighter;
    // box-shadow: $shadow-spread-smaller;
    transition: height $ease-out-quart-slow;
    z-index: $z-index-mobile-nav-header;

    .navWrapper {
        width: 100%;
        height: 6rem;
        // z-index: $z-index-mobile-nav-header;

        .navHeader {
            padding: 0 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $white;

            width: 100%;
            min-height: 6rem;
            position: absolute;
            z-index: $z-index-mobile-nav-header;
        }

        .menuIcon {
            height: 2.5rem;
            color: $black;
            transition: color $ease-out-quart-slow;
            cursor: pointer;
            margin-right: -1rem;

            &:hover {
                color: $black;
            }
        }

        .navMenu {
            transition: all $ease-out-quart-slow;
            background-color: $white;
            // border-bottom: 1px solid $gray-lighter;
            width: 100vw;
            position: fixed;
            z-index: $z-index-mobile-nav;
            top: -500%;

            padding: 1rem 2rem 2rem;
            // opacity: 0;
            // display: none;

            &.navIsOpen {
                top: 6rem;
            }
        }
    }
}

.overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: $z-index-mobile-nav-overlay;
    background-color: rgba($color: #000000, $alpha: 0.3);
}
