@import 'libs/theme/src/mixins.scss';

.setLabel {
    font-size: 1.2rem;
    font-weight: 700;
}

.score {
    width: 100%;
    text-align: center;
    line-height: 4rem;
    font-weight: 900;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.clickable {
        cursor: pointer;
        transition: font-size var(--ease-out-quart);

        &:hover {
            font-size: 1.8rem;
        }
    }

    .scorePlaceholder {
        color: var(--gray);
    }
}

.noScore {
    height: 3.1rem;
    margin-top: 0.4rem;
    margin-bottom: 0.6rem;
    line-height: 3.1rem;
    border-radius: 5px;
    background-color: var(--gray-super-light);
    text-align: center;

    &.clickable {
        cursor: pointer;
        transition: background-color var(--ease-out-quart);

        &:hover {
            background-color: var(--blue-super-light);
        }
    }

    p {
        font-size: 1.2rem;
    }
}
