@import 'apps/setscore-web/styles/theme.scss';
@import 'apps/setscore-web/styles/containers.scss';
@import 'apps/setscore-web/styles/theme.scss';
@import 'apps/setscore-web/styles/containers.scss';

.court {
    width: 100%;
    height: 20.6rem;

    background-color: $green;
    border: 3px solid $white;
    border-radius: $court-border-radius;
    box-shadow: $shadow-card;
    position: relative;
    z-index: 100;

    &.compact {
        height: 18.6rem;
    }

    .alley {
        height: 2rem;
        width: 100%;

        &.top {
            border-bottom: 3px solid $white;
        }
        &.bottom {
            border-top: 3px solid $white;
        }
    }

    .net {
        position: absolute;
        top: 0;
        left: 50%;
        background-color: $white;
        width: 3px;
        height: 100%;
    }

    .centerLine {
        position: absolute;
        top: 50%;
        left: 0;
        background-color: $white;
        width: 100%;
        height: 3px;
    }

    .playerRow {
        position: relative;

        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
    }
}
