.summaryCategories {
    --table-body-row-height: 3rem;

    .summaryCategoriesHeader {
        display: flex;
        justify-content: space-between;

        .tableControls {
            display: flex;
            align-items: center;
        }
    }

    .subcategoryAmount {
        font-size: 1.2rem;
        color: var(--gray-darker);
    }
}
