@import 'apps/setscore-web/styles/theme.scss';
@import 'apps/setscore-web/styles/containers.scss';

.formWrapper {
    z-index: $z-index-foreground;
    max-width: 40rem;
    width: 100%;
}

.leagueButton {
    margin-bottom: 1.5rem;
}
