@import 'apps/setscore-web/styles/variables.scss';

.scoreCardPreview {
    width: 100%;
    background-color: $white;
    border-radius: 10px;
    box-shadow: $shadow-button-dark;
    padding: 1.5rem;

    .header {
        display: flex;
        justify-content: space-between;

        .setNumber {
            font-size: 2rem;
            font-weight: bold;
        }

        .setDetails {
            text-align: right;
            p {
                color: $gray-darkest;
                font-weight: bold;
            }

            .date {
                font-size: 1rem;
                font-weight: 500;
                color: $gray-darker;
            }
        }
    }
}
