@import 'libs/theme/src/mixins.scss';

.draggablePlayer {
    margin-bottom: 1rem;
    transition: width 2s ease-in-out;

    .playerBox {
        flex-grow: 1;
        background-color: var(--white);
        border: 1px solid var(--gray-lighter);
        // border: 3px solid var(--white);
        border-radius: 3px;
        // box-shadow: var(--shadow-spread-smaller);
        min-height: 5rem;
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;
        transition: width 2s ease-in-out;

        &.extra {
            background-color: var(--red-super-light);
        }

        &:hover {
            svg {
                opacity: 0.5;
            }
        }

        .player {
            width: fit-content;
            // background-color: var(--gray-super-light);
            // padding: 0.3rem 1rem;
            // border-radius: 4px;
            font-size: 1.6rem;
            font-weight: 500;
            margin-right: 0.5rem;
            color: var(--black2);

            @include respond-to('medium') {
                font-size: 1.4rem;
                padding: 0.2rem 1rem;
            }
        }

        svg {
            color: var(--gray-darker);
            height: 1.5rem;
            opacity: 0;
            cursor: pointer;
            margin-left: 0.5rem;
            transition: opacity var(--ease-out-quart);

            &:hover {
                opacity: 1;
            }
        }

        .substitute {
            width: fit-content;
            background-color: var(--black2);
            color: var(--gray-super-light);
            padding: 0.2rem 1rem;
            border-radius: 4px;
            font-size: 1.2rem;
            font-weight: 500;

            @include respond-to('medium') {
                font-size: 1rem;
                padding: 0.2rem 1rem;
            }
        }
    }
}
