@import 'styles/theme.scss';
@import 'styles/containers.scss';

.dropdownButton {
    @include respond-to('large') {
        margin-top: 1.5rem;
    }
}

.lineupControls {
    margin-top: 2rem;

    .controlRow {
        display: flex;
    }
}
