@import 'apps/setscore-web/styles/variables.scss';

.dropdownButton {
    @include respond-to('large') {
        margin-top: 1.5rem;
    }
}

.lineupControls {
    margin-top: 2rem;

    .controlRow {
        display: flex;
    }
}
