@import 'libs/theme/src/mixins.scss';

.toggle {
    display: flex;
    align-items: center;

    .toggleButton {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 1px solid var(--gray-darker);
        transition: border-color var(--ease-out-quart);
        cursor: pointer;

        &:hover {
            border-color: var(--gray-darkest);
        }
    }
}
