@import 'libs/theme/src/mixins.scss';

.scoreEdit {
    width: 100%;
    height: 20.6rem;
    background-color: var(--white);
    border: 3px solid var(--white);
    border-radius: 20px;
    box-shadow: var(--shadow-card);

    padding: 1rem 1.5rem;

    .scoreEditHeader {
        display: flex;
        justify-content: space-between;

        svg {
            cursor: pointer;
            transition: color var(--ease-out-quart);

            &:hover {
                color: var(--gray-darkest);
            }
        }
    }

    .scoreEditBody {
        display: flex;
        justify-content: space-between;
    }
}
