@import 'libs/theme/src/mixins.scss';

.navbar {
    width: 100vw;
    height: 8rem;
    z-index: 1000;

    display: flex;

    .userMenu {
        margin-left: auto;
        position: relative;

        .userMenuButton {
            height: 100%;
            background-color: white;
            border: none;
            border-left: 1px solid var(--gray-light);
            padding: 0 3rem 0 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.3rem;
            color: var(--gray-darkest);
            cursor: pointer;

            transition: background-color var(--ease-out-quart);

            &:hover {
                background-color: var(--gray-super-light);
            }

            .userMenuChevron {
                margin-left: 1rem;
                height: 1.3rem;
            }
        }

        .userMenuItems {
            position: absolute;
            transform-origin: top right;
            width: 30rem;
            right: 1rem;
            margin-top: 1rem;

            background-color: var(--white);
            box-shadow: var(--shadow-spread-medium);
            border-radius: 3px;
            padding: 2rem;
        }
    }
}

.menuEnter {
    transition-property: opacity, transform;
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.menuEnterFrom {
    transform: scale(0.95, 0.95);
    opacity: 0;
}
.menuEnterTo {
    transform: scale(1, 1);
    opacity: 1;
}
.menuLeave {
    transition-property: opacity, transform;
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.menuLeaveFrom {
    transform: scale(1, 1);
    opacity: 1;
}
.menuLeaveTo {
    transform: scale(0.95, 0.95);
    opacity: 0;
}
