@import 'libs/theme/src/mixins.scss';

.weekControls {
    display: flex;
}

.courtsRow {
    gap: 0 40px;

    @include respond-to('medium') {
        gap: 0 20px;
    }
}

.courtBox {
    height: 10rem;
    padding: 2rem;
    cursor: default;
    box-shadow: var(--shadow-card);

    &:hover {
        box-shadow: var(--shadow-card);
    }

    &.noCourtBox {
        background-color: transparent;
        box-shadow: none;
        cursor: default;
        text-align: center;
        font-size: 2.4rem;
    }

    &.noCourtBox,
    &.addCourtBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        color: var(--gray-darker);

        svg {
            color: var(--gray-darker);
            height: 2rem;
            margin-left: 1rem;
        }
    }

    &.addCourtBox {
        opacity: 0.6;
        transition: opacity var(--ease-out-quart-slow);

        &:hover {
            opacity: 1;
        }
    }
}
