@import 'apps/setscore-web/styles/variables.scss';

.loadingScreen {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: $gradient-white-lightblue;
}
