@import 'libs/theme/src/mixins.scss';

.checkboxWrapper {
    margin-bottom: 1rem;
    display: flex;
    cursor: pointer;
    align-items: center;

    &.error {
        margin-bottom: 0.7rem;
    }

    .checkbox {
        width: 1.5rem;
        height: 1.5rem;
        border: 1px solid var(--gray-dark);
        border-radius: 3px;
        margin-right: 1.5rem;
        box-shadow: var(--shadow-input);
        transition: var(--ease-out-quart);
        cursor: pointer;

        &:checked {
            background-color: var(--primary-color);
        }

        &:hover {
            border-color: var(--black);
        }

        &:focus {
            border-color: var(--primary-color);
            outline: none !important;
        }

        &.error {
            border-color: var(--red);
        }
    }

    .errorMessage {
        margin-top: 0.4rem;
        font-size: 1.2rem;
        line-height: 1.4rem;
        color: var(--red);
    }
}
