.monthHeaderSection {
    width: 100%;
    margin-bottom: 5rem;

    .headerActions {
        display: flex;
        align-items: center;

        .button {
            margin-right: 1rem;
        }
    }
}

.addMonthSection {
    .addMonthBox {
        padding: 2rem;
        background-color: var(--white);
        border: 1px solid var(--gray-light);
        border-radius: 3px;
        max-width: 50rem;
    }
}

.monthCategoryBreakdown {
}
