@import 'libs/theme/src/mixins.scss';

.seasonsViewport {
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-wrap: nowrap;
    padding: 2rem 1rem;
    margin-bottom: 2rem;

    .seasonCard {
        min-height: 17rem;
        min-width: 25rem;
        max-width: 25rem;
        box-shadow: var(--shadow-card);
        background-color: var(--white);
        border: 1px solid var(--gray);
        border-radius: 3px;
        padding: 2rem;
        margin-right: 2rem;
        cursor: pointer;

        &:hover {
            box-shadow: var(--shadow-card-hover);
        }

        &.selected {
            border: 1px solid var(--green);
        }

        &.addSeason,
        &.noSeasons {
            margin-right: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: var(--gray-darker);
            text-align: center;
            opacity: 0.8;
            transition: opacity var(--ease-out-quart-slow);

            &:hover {
                opacity: 1;
            }

            svg {
                color: var(--gray-darker);
                margin-top: 1rem;
                height: 3rem;
            }
        }

        &.noSeasons {
            background-color: transparent;
            margin-right: 2rem;
            box-shadow: none;
            cursor: default;
            color: var(--gray-dark);
            opacity: 1;
        }

        .summaryDataRow {
            // display: flex;
        }
    }
}
