.cardBox {
    width: 100%;
    box-shadow: var(--shadow-card);
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: 3px;

    &.actionable {
        cursor: pointer;

        &:hover {
            box-shadow: var(--shadow-card-hover);
        }
    }
}
