@import './theme.scss';
@import './typography.scss';
@import './containers.scss';
@import './components.scss';
@import './libs/pullToRefresh.scss';

html {
    /* 1rem = 10px */
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}
html,
body {
    padding: 0;
    margin: 0;
    font-family: $font-family;
}

* {
    box-sizing: border-box;
}

.Toastify__toast--success {
    background-color: $green;
}
.Toastify__toast--info {
    background-color: $blue;
}
.Toastify__toast--error {
    background-color: $red;
}

.filtersForm {
    display: flex;

    @include respond-to('medium') {
        flex-direction: column;
    }
}

.DayPickerInput {
    width: 100%;
}

.DayPicker-Day,
.DayPicker-Weekday {
    font-size: 1.4rem !important;
}

.ptr--ptr {
    box-shadow: none !important;

    .ptr--icon {
        color: $green;
    }
    .ptr--text {
        color: $gray-darker;
        font-weight: 300;
        font-size: 1.1rem;
        letter-spacing: 1px;
    }

    .ptr--box {
        padding-bottom: 0;
    }
}
